### Pandas Series

In [1]:
import numpy as np
import pandas as pd

In [2]:
# Creating four python objects...

lst = ['x', 'y', 'z']
person = {
    "first": "Nonso", 
    "last": "Onyia", 
    "email": "nonyia@nokea360.com"
}
my_data = [25, 35, 50]
create_array = np.array(my_data)

In [3]:
lst

['x', 'y', 'z']

In [4]:
# Creating a Pandas Series...
# Ex 1:-
ds = pd.Series(my_data)
ds

0    25
1    35
2    50
dtype: int64

In [5]:
# Ex 2:-
dse = pd.Series(my_data, index=lst)
dse

x    25
y    35
z    50
dtype: int64

In [6]:
# Ex 3:-
ds_1 = pd.Series(create_array)
ds_1

0    25
1    35
2    50
dtype: int32

In [7]:
# Ex 4:-
ds_2 = pd.Series(create_array, index=lst)
ds_2

x    25
y    35
z    50
dtype: int32

In [8]:
ds_3 = pd.Series(person)
ds_3

first                  Nonso
last                   Onyia
email    nonyia@nokea360.com
dtype: object

In [9]:
# The difference between numpy array & a Pandas Series is, a Pandas Series can hold a variety of object types
pd.Series(lst)

0    x
1    y
2    z
dtype: object

In [10]:
pd.Series([sum,min,max,len])

0    <built-in function sum>
1    <built-in function min>
2    <built-in function max>
3    <built-in function len>
dtype: object

In [11]:
# Grabbing data from a Pandas Series....
# Ex 5:-

pd_ser1 = pd.Series(['Germany', 'India', 'Japan', 'UK', 'USA'], ['EU', 'South Asia', 'East Asia', 'EU', 'North America'])
pd_ser1

EU               Germany
South Asia         India
East Asia          Japan
EU                    UK
North America        USA
dtype: object

In [12]:
pd_ser1['East Asia']

'Japan'

In [13]:
# Ex 6:-
pd_lst = pd.Series(lst)
pd_lst

0    x
1    y
2    z
dtype: object

In [14]:
pd_lst[1]

'y'

In [15]:
# Ex 7:-
pd_ser2 = pd.Series(['Germany', 'Canada', 'Japan', 'UK', 'USA'], ['EU', 'North America', 'East Asia', 'EU', 'North America'])
pd_ser2

EU               Germany
North America     Canada
East Asia          Japan
EU                    UK
North America        USA
dtype: object

In [16]:
pd_ser1 + pd_ser2

EU               GermanyGermany
EU                    GermanyUK
EU                    UKGermany
EU                         UKUK
East Asia            JapanJapan
North America         USACanada
North America            USAUSA
South Asia                  NaN
dtype: object