### Multi-Indexing

In [1]:
import numpy as np 
import pandas as pd
from numpy.random import randn

In [2]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
inh_index = list(zip(outside,inside))
inh_index = pd.MultiIndex.from_tuples(inh_index)

In [3]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [4]:
inh_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [5]:
df = pd.DataFrame(np.random.randn(6,2),index=inh_index,columns=['A','B'])
df

             A         B
G1 1 -0.516453 -0.123715
   2  0.165938  0.339593
   3 -0.761818  0.511653
G2 1 -0.640053  0.660377
   2 -0.129009 -0.079232
   3 -0.045928 -0.844730

In [6]:
# Ex 1:- Naming the multi-index

df.index.names = ["Groups", "Index_Num"]
df

                         A         B
Groups Index_Num
G1     1         -0.516453 -0.123715
       2          0.165938  0.339593
       3         -0.761818  0.511653
G2     1         -0.640053  0.660377
       2         -0.129009 -0.079232
       3         -0.045928 -0.844730

In [7]:
# Ex 2i:- Calling data from a multi-index...
df.loc['G1']

                  A         B
Index_Num
1         -0.516453 -0.123715
2          0.165938  0.339593
3         -0.761818  0.511653

In [8]:
# Ex 2ii:-

df.loc['G1'].loc[2]

A    0.165938
B    0.339593
Name: 2, dtype: float64

In [9]:
# Ex 2iii:-

df.loc['G1'].loc[2]['A']

0.16593815511163598

In [10]:
# Ex 3:- Another way of getting rows and cols is by using a cross-section ("xs()")
# Returning a cross-section of rows and cols. It's used when we have a multi-level index

df

                         A         B
Groups Index_Num
G1     1         -0.516453 -0.123715
       2          0.165938  0.339593
       3         -0.761818  0.511653
G2     1         -0.640053  0.660377
       2         -0.129009 -0.079232
       3         -0.045928 -0.844730

In [11]:
df.xs('G1')

                  A         B
Index_Num
1         -0.516453 -0.123715
2          0.165938  0.339593
3         -0.761818  0.511653

In [12]:
df.xs(1, level='Index_Num')

               A         B
Groups
G1     -0.516453 -0.123715
G2     -0.640053  0.660377